@import url("https://fonts.googleapis.com/css2?family=Exo&family=Otomanopee+One&display=swap");
.launches__li__heading {
  text-align: center;
  font-family: Otomanopee One, sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  margin-top: 50px;
  line-height: 0px;
  color: rgb(157, 1, 77);
}
.launches__li__subheading {
  text-align: center;
  font-family: "Exo", sans-serif;
  font-size: 30px;
  line-height: 0px;
}
.launches__sub__div {
}
.launches__ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.launches__list {
  width: 350px;
  height: 120px;
  margin: 0 auto;
  cursor: pointer;
  padding: 0 10px;
  margin-top: 40px;
  box-shadow: 0px 0px 3px rgba(183, 1, 89, 0.327);
  border-radius: 10px;
}
.launches__list:hover {
  /* box-shadow: 0px 0px 15px rgba(183, 1, 89, 0.327); */
  border: 0.3px solid rgba(183, 1, 89, 0.114);
  box-shadow: 5px 5px 13px rgba(177, 177, 177, 0.327);
  transform: translateY(-10px);
  transition: 0.7s all ease-in-out;
  background-color: rgba(159, 1, 104, 0);
}
.launches__li__missions__name {
  font-family: "Exo", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
}
.launches__li__flight__number {
  display: flex;
  justify-content: space-between;
  font-family: "Exo", sans-serif;
  text-align: right;
  margin-top: 30px;
}
.launch__flight__number,
.launch__year {
  font-weight: bolder;
  font-size: 15px;
}
.launch__flight__number > span,
.launch__year > span {
  letter-spacing: 1px;
  font-size: 12px;
}
.launch__list__loader {
  display: block;
  margin: 0 auto;
  margin-top: 17%;
}
